#menu {
  display: block;
  background-color: white;
  padding: 10px 0px;
  border-radius: 10px;
  box-shadow: 2px 2px 30px lightgrey;
  position: absolute;
  transform-origin: center;
  opacity: 0;
  transform: scale(0);
  transition: transform 0.2s, opacity 0.2s;
  z-index: 999999999999999999999999999;
}

#menu.show {
  opacity: 1;
  transform: scale(1);
  transform-origin: top left;
}

.menu-item {
  display: block;
  padding: 10px 30px;
  transition: 0.1s;
  color: #666;
}

.menu-item:hover {
  background-color: #eee;
  cursor: pointer;
}

#outclick {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  z-index: 99999999999999;
}

#klindowsrightclickmenu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 99;
}

#rightclickmenudowapps {
  display: none;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 30px lightgrey;
  position: absolute;
  z-index: 999999999999999999999999999;
  width: 134px;
  height: 52px;
}

#rightclickmenudowapps p {
  text-align: center;
  position: relative;
  font-size: 2em;
  top: 7px;
}

#rightclickmenuicons {
  display: none;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 30px lightgrey;
  position: absolute;
  z-index: 999999999999999999999999999;
  width: 134px;
  height: 100px;
}

#rightclickmenuicons p {
  text-align: center;
  position: relative;
  font-size: 1em;
  top: 7px;
}

#rightclickmenuiconsdone {
  display: none;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 30px lightgrey;
  position: absolute;
  z-index: 999999999999999999999999999;
  width: 134px;
  height: 52px;
}

#rightclickmenuiconsdone p {
  text-align: center;
  position: relative;
  font-size: 2em;
  top: 7px;
}