.browser .browerr {
  padding: 10px;
  box-sizing: border-box;
}
.browser .browerr,
.browser .iframeWrapper {
  width: 100%;
  height: calc(100% - 64px);
  background-color: white;
  position: absolute;
  display: none;
}
.browser .browerr,
.browser .iframegamebrow {
  display: none;
  width: 100%;
  height: 100%;
}
.browser .browerr * {
  color: black;
}
.browser .controls {
  display: flex;
}
.browser .controls #url {
  height: 40px;
  width: calc(100% - 180px);
}
.browser .controls button {
  width: 60px;
}
.browser webview {
  width: 100%;
  height: calc(100% - 64px);
  background-color: white;
}

