.ikonaklindows {
  width: 4em;
  height: 4em;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  transition: ease 0.2s opacity;
}

.ikonaklindows span {
  top: 17px;
  position: relative;
}

