/*Just put some css*/

#userimg {
    display: none!important;
}
.login {
    background: black!important;
    color: white!important;
}
.login .logindva input {
    border: none!important;
}
.facelolsad {
    height: 50px;
}
button {
    appearance: none!important;
    outline: none!important;
    border: none!important;
}
.window {
    box-shadow: none!important;
    border-radius: 0px!important;
    background-color: black!important;
    color: white!important;
}
p, span, h1, h2, h3, h4, h5, h6,li {
    color: white!important;
}
.headerclass {
    border-radius: 0px!important;
    background-color: white!important;
}
.close {
    border-radius: 0px!important;
}
.clockdate {
    background-color: black!important;
    color: white!important;
}
.poznamkymenu, .poznamkynas {
    background-color: black!important;
    color: white!important;
}
.close::before, .mini::before {
    color: black!important;
}
.openopenedapps {
    background-color: black!important;
}
#secondcursor {
    background-color: red!important;
}
#firstcursor {
    border: 2px solid red!important;
}
