.kalendar {
  min-height: 580px;
  min-height: 580px;
  min-width: 1100px;
}

.maps {
  height: 580px;
  min-height: 580px;
  min-width: 1100px;
}

.faceset {
  height: 360px;
  min-height: 360px;
  min-width: 326px;
}
.record {
  height: 591px;
  min-height: 591px;
  min-width: 467px;
}

.printermanager {
  width: 850px;
  min-height: 400px;
  height: 400px;
  min-width: 850px;
}

.imageeditor {
  width: 880px;
  min-height: 560px;
  height: 560px;
  min-width: 880px;
}

.cleaner .keys {
  overflow: auto;
  height: calc(100% - 80px);
  width: calc(100% - 16px);
}

.procesy .procesyProcesy,
.procesy .infoProcesy {
  height: calc(100% - 40px);
}
.procesy .procesyProcesy {
  overflow: auto;
}

.musicplayer iframe {
  width: 100%;
  height: calc(100% - 20px);
  background: transparent;
}

.viewtext textarea {
  width: 100%;
  height: calc(100% - 20px);
  background: transparent;
}

.kalkulacka buttonkalkulacka {
  width: 50px;
}

.kalkulacka buttonkalkulackaeq {
  width: 104px;
}

.iconsKLINDOS {
  width: 100%;
  height: calc(100% - 50px);
}

.filesDragging {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  pointer-events: none;
}

.dragging-file {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  z-index: 1000;
  background: rgb(0 0 0 / 40%);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  text-align: center;
}

.dragging-file.dark img {
  filter: invert(1);
}

.dragging-file.dark {
  color: white;
}
